$shadow-light: 0px 0px 12px rgba(0, 0, 0, .12);

$themeColor: #ffd04b;
$WarningColor: #ffa728;
$SuccessColor: #1dd19b;
$DangerColor: #f05c27;

$TitleColor: #252525;
$AidColor: #878787; // 辅助色
$BackColor: #f0f2f5; // 背景色

$tipColor: #dddddd; // 提示色

.shadow-light {
    box-shadow: $shadow-light;
}

.page-container {
    margin: 10px 10px 0;
    padding-bottom: 30px;

}


// @primary-color: #1890ff; // 全局主色
// @link-color: #1890ff; // 链接色
// @success-color: #52c41a; // 成功色
// @warning-color: #faad14; // 警告色
// @error-color: #f5222d; // 错误色
// @font-size-base: 14px; // 主字号
// @heading-color: rgba(0, 0, 0, 0.85); // 标题色
// @text-color: rgba(0, 0, 0, 0.65); // 主文本色
// @text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
// @disabled-color: rgba(0, 0, 0, 0.25); // 失效色
// @border-radius-base: 4px; // 组件/浮层圆角
// @border-color-base: #d9d9d9; // 边框色
// @box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // 浮层阴影